.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: center;
}

.recipe-list {
    background-color: lightgreen;
    align-self: center;
    width: 50%;
}